.card {
    $root: &;
    border-radius: 0;
    border: 0;
    margin-top: 40px;
	position: relative;

	a {
		text-decoration: none;
	}

	&:hover {

        .img-wrap {
            >img {
                top: 20px;
            }
        }

	}

	&.active {
		margin-bottom: 30px;
	}

	&::after {
		content:'';
		display: none;
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		border-width: 0 20px 20px;
		border-color: transparent transparent #f4f4f4 transparent;
		border-style: solid;
	}

	&.active.active:after {
		display: inline-block;
	}

	.img-wrap {
		position: relative;
		margin-bottom: 10px;
		background-color: #eee;
		overflow: hidden;

		.img-bg {
			padding-bottom: 65%;
			filter: blur(15px) saturate(250%);
			opacity: 0.3;
			transform: scale(1.2);
			transition: .3s;
		}

		img {
			position: absolute;
			top: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 60px);
			box-shadow: 0 -2px 20px rgba(0,0,0,0.15);
			pointer-events: none;
			transition: .3s;
			transform-origin: 50%;
		}
	}

	.title {
		color: #666;
		font-weight: 1.4rem;
		font-weight: bold;
        text-decoration: none;

        .arrow {
            transition: .3s;
        }
    }

    &:hover .title .arrow {
        animation: arrowMove 1s infinite alternate;
    }
}

@keyframes arrowMove {
    form {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: 15px;
        opacity: 0.2;
    }
}