.img-fluid {
	display: block;
	max-width: 100%;
}

.text-center {
	text-align: center;
}

.text-grey {
	color: #666;
}

.text-grey-light {
	color: #999;
}

.text-xs {
	font-size: 12px;
}

.text-sm {
	font-size: 14px;
}

.bg-light {
	background-color: #fafafa;
}