<!DOCTYPE html>
<html lang="z-tw">

<head>
    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TT6CDV8');</script>
	<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIN PEI ZHEN</title>

    <meta name="description" content="我是一位 UI 設計師，熱愛 UI 設計這個領域，也重視 UX 設計，執行設計時以「美觀易讀的介面」、「友善的使用者體驗」及「有效地解決根本問題」為目標，致力於美學及易用性的結合。">
    <meta property="og:description" content="我是一位 UI 設計師，熱愛 UI 設計這個領域，也重視 UX 設計，執行設計時以「美觀易讀的介面」、「友善的使用者體驗」及「有效地解決根本問題」為目標，致力於美學及易用性的結合。">
    <meta property="og:url" content="https://www.peizhen-lin.com">
    <meta property="og:site_name" content="LIN PEI ZHEN">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/og_img.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="640">

	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/vendor/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap-grid.min.css">

    <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
<div id="app">
    <header>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <a href="/">
                    <img class="logo" src="/img/logo.svg" alt="">
                </a>
                <ul class="header-menu">
                    <li class="active"><a href="/">About</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="/contact">Contact</a></li>
				</ul>
				<a href="javascript:;" class="mobile-menu d-block d-sm-block d-md-none" onclick="openMenu();">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </a>
            </div>
        </div>
    </header>
    <section class="banner">
        <div class="overlay"></div>
        <div class="content">
            <div class="container">
                <div class="banner-title">
                    <span>Hello!</span>
                </div>
                <div class="banner-title">
                    <span>My name is <span class="name">LIN PEI ZHEN</span></span>
                </div>
                <div class="banner-title">
                    <span>I'm a UI designer</span>
                </div>
            </div>
        </div>
    </section>

    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-md-12">
                    <div class="content">
                        <h2 class="section-title">As a UI Designer</h2>
                        <p class="desc">我是一位 UI 設計師，熱愛 UI 設計這個領域，也非常重視 UX 設計，執行設計時以「美觀易讀的介面」、「友善的使用者體驗」及「有效地解決根本問題」為目標，致力於美學及易用性的結合。</p>
                        <p class="desc">我參與過的專案橫跨服務各種對象及裝置的應用，擁有跨平台、跨領域設計的能力。例如跨平台的電商網站、App、系統後台、行銷活動頁和 EDM 等，其中 KKday 的 App 在 2018 年獲頒 <a href="https://play.google.com/store/apps/topic?id=campaign_editorial_bestof2018_best_hidden_gem" target="_blank">Google 最具潛力應用程式</a>。</p>
                        <p class="desc">過去與其他團隊成員合作的過程中，我樂於與不同職能的角色合作、參與討論，也能接納不同的想法和各方的評論。我也遇到許多優秀的 UI 夥伴，定期分享靈感、舉辦讀書會和工作坊，互相學習成長。</p>
                    </div>
                </div>
                <div class="col-md-7 order-md-1">
                    <div class="section-img web-img">
                        <div class="row">
                            <div class="col-10">
                                <img src="/img/about/web03.jpg" alt="" class="img-fluid">
                            </div>

                            <div class="col-10 offset-1">
                                <img src="/img/about/web02.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-10 offset-2">
                                <img src="/img/about/web01.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="watermark parallax-item" data-scroll-percent="6">Web Design</div>
                    </div>
                    <div class="section-img app-img">
                        <div class="row">
                            <div class="col-4">
                                <img src="/img/about/app01.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="/img/about/app02.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="/img/about/app03.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="watermark parallax-item" data-scroll-percent="6">App Design</div>
                    </div>
                </div>
            </div>
            <div class="section-cta text-center">
                <a href="/works" class="btn btn-primary">View My Works →</a>
            </div>
        </div>
    </section>

    <section class="skill-section">
        <div class="container">
            <div class="watermark parallax-item text-center" data-scroll-percent="5">Skills</div>
            <div class="row justify-content-around">
                <div v-for="category in categories" class="col-lg-5">
                    <div class="sub-title">{{ category.title }}</div>
                    <div class="row">
                        <div v-for="skill in category.skills" class="col-auto">
                            <pz-skill-card
                                :name="skill.name"
                                :img-src="skill.imgSrc">
                            </pz-skill-card>
                        </div>
                        <p class="px-4 text-grey">{{ category.otherSkills }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <h2 class="section-title">My Hobbies</h2>
                        <div class="sub-title">Hiking</div>
                        <p class="desc">我非常熱愛登山健行，常出沒在台北郊山或是各地的高山上。我喜歡多日行程，盡情享受大自然的一切，行程結束後總會有重新充飽電的感覺。</p>
                        <div class="sub-title">Traveling</div>
                        <p class="desc">每年都會定期安排國內/國外旅遊，熱愛自己規劃行程，也樂於分享旅遊途中的故事和影像。</p>
                        <div class="sub-title">Photography</div>
                        <p class="desc">登山和旅遊的路上，喜歡背著相機紀錄我的所見所聞，把我看到的美分享給他人。我也熱愛底片攝影，喜歡底片為影像帶來的溫度。</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="section-img hobbies-img">
                        <div class="row">
                            <div class="col-5">
                                <img src="/img/about/hike02.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-7">
								<img src="/img/about/hike03.jpg" alt="" class="img-fluid">
								<img src="/img/about/hike04.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="watermark parallax-item" data-scroll-percent="6">Hiking</div>
                    </div>
                    <div class="section-img hobbies-img">
                        <div class="row">
                            <div class="col-8">
                                <img src="/img/about/climb01.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="/img/about/climb03.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-7 offset-5">
                                <img src="/img/about/climb02.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="watermark parallax-item" data-scroll-percent="6">Traveling</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="photo-section intro-section">
		<div class="container-fluid">
            <div class="watermark parallax-item" data-scroll-percent="6">Photography</div>
			<div class="photo-wall section-img">
				<div class="row">
					<div class="col-12 col-md-2">
						<div class="photo-wall-item" style="background-image: url(/img/film/film11.jpg)"></div>
					</div>
					<div class="col-6 col-md-3">
						<div class="photo-wall-item" style="background-image: url(/img/film/film6.jpg)"></div>
					</div>
					<div class="col-6 col-md-2">
						<div class="photo-wall-item" style="background-image: url(/img/film/film12.jpg)"></div>
					</div>
					<div class="col-12 col-md-3">
						<div class="photo-wall-item" style="background-image: url(/img/film/film2.jpg)"></div>
					</div>
					<div class="col-6 col-md-2">
						<div class="photo-wall-item" style="background-image: url(/img/film/film16.jpg)"></div>
					</div>
					<div class="col-6 col-md-3">
						<div class="photo-wall-item" style="background-image: url(/img/film/film1.jpg)"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="photo-wall-item" style="background-image: url(/img/film/film18.jpg)"></div>
					</div>
					<div class="col-6 col-md-4">
						<div class="photo-wall-item" style="background-image: url(/img/film/film4.jpg)"></div>
					</div>
					<div class="col-6 col-md-3">
						<div class="photo-wall-item" style="background-image: url(/img/film/film10.jpg)"></div>
					</div>
				</div>
            </div>
            <div class="section-cta text-center">
                <a href="https://photos.app.goo.gl/GshDNCwgzPFHVNjv8" target="_blank" class="btn btn-primary">More Photography Works →</a>
            </div>
        </div>
	</section>

    <footer>
        <div class="container">
			<div class="copyright">Made with <i class="icon-heart"></i> in Taiwan</div>
        </div>
    </footer>
</div>

<script src="/js/vendor/vue.js"></script>
<script src="/js/skill-card.js"></script>

<script src="/js/vendor//jquery.js"></script>
<script src="/js/vendor//bootstrap.min.js"></script>
<script>
    var app = new Vue({
      el: '#app',
      data: {
          categories: [
            {
                title: 'Design Skills',
                otherSkills: 'Photoshop, Origami, iOS Human Interface Guidelines, Material Design Guidelines',
                skills: [
                    {
                        name: 'Sketch',
                        imgSrc: 'img/about/skill_sketch.svg',
                    },
                    {
                        name: 'Zeplin',
                        imgSrc: 'img/about/skill_zeplin.svg',
                    },
                    {
                        name: 'InVision',
                        imgSrc: 'img/about/skill_invision.svg',
                    },
                    {
                        name: 'Illustrator',
                        imgSrc: 'img/about/skill_ai.svg',
                    },
                    {
                        name: 'AfterEffects',
                        imgSrc: 'img/about/skill_ae.svg',
                    },
                    {
                        name: 'Lottie',
                        imgSrc: 'img/about/skill_lottie.svg',
                    },
                ],
            },
            {
                title: 'Development Skills',
                otherSkills: 'Bootstrap, SVG Animation, Material Design Components, jQuery, Vue',
                skills: [
                    {
                        name: 'HTML5',
                        imgSrc: 'img/about/skill_html.svg',
                    },
                    {
                        name: 'CSS3',
                        imgSrc: 'img/about/skill_css.svg',
                    },
                    {
                        name: 'Sass/Scss',
                        imgSrc: 'img/about/skill_sass.svg',
                    },
                    {
                        name: 'Git',
                        imgSrc: 'img/about/skill_git.svg',
                    },
                    {
                        name: 'JavaScript',
                        imgSrc: 'img/about/skill_js.svg',
                    },
                ],
            },
          ]
      },
    });

    $(function () {
        // Banner animation

        $(window).on('scroll load resize', function () {
            var scrollTop = $(window).scrollTop();
            var windowWidth = $(window).width();
            var windowHeight = $(window).height();
            var windowBtmScroll = scrollTop + windowHeight;
            var header = $('header');
            var bannerHeight = $('.banner').outerHeight();

            $('.banner-title').addClass('active');

            if (scrollTop > bannerHeight) {
                header.addClass('fix');
            } else {
                header.removeClass('fix');
            }

            if(windowWidth < 768) {
                $('.parallax-item, .section-img, .content, .skill-section').removeAttr('style');
                return;
            } else {
                // Parallax
                $('.parallax-item').each(function() {
                    var scrollTop = $(window).scrollTop();
                    var parallaxItem = $(this);
                    var dataPercent = parallaxItem.attr('data-scroll-percent')
                    var OffsetTop = parallaxItem.offset().top;
                    var scrollPercent = (OffsetTop - scrollTop) / dataPercent;

                    parallaxItem.css('transform', 'translateY(' + scrollPercent + 'px)');
                });

                // Opacity transition
                $('.section-img, .content, .skill-section').each(function() {
                    var scrollTop = $(window).scrollTop();
                    var windowHeight = $(window).height();
                    var itemOffset = $(this).offset().top;
                    var itemHeight = $(this).outerHeight();
                    var comePercent = (windowBtmScroll - itemOffset) * 1 / itemHeight;
                    var outPercent = (itemHeight + itemOffset - scrollTop) / itemHeight;

                    if (windowBtmScroll < itemOffset + 40) {
                        $(this).css('opacity', 0);
                    } else if (windowBtmScroll > itemOffset + 40 && scrollTop < itemOffset + itemHeight / 2) {
                        $(this).css('opacity', comePercent);
                    } else if (scrollTop > (itemOffset + itemHeight - itemHeight) / 2 && scrollTop < itemOffset + itemHeight) {
                        $(this).css('opacity', outPercent);
                    } else if (scrollTop > itemOffset + itemHeight) {
                        $(this).css('opacity', 0);
                    }
                });
            }
        });
    });

    function openMenu() {
        $('.header-menu, .mobile-menu').toggleClass('active');
        $('body').toggleClass('menu-open');
    }
</script>
</body>

</html>